#header {
			position: relative;
			background-color: #ea9494;
			height: 80px;
			text-align: center;
			line-height: 80px;
		}

		
		.header-right {
			width: 40%;
		}
		
		.header-midle {
			position: absolute;
			width: 50%;
		}
		
		.header-left {
			width: 10%;
		}
		
#header1{
			background-color: #000000;
			height: 80px;
			text-align: center;
		}

#black_line {
			height: 5px;
			background-color: black;
		}
.topnav_right {
			position: relative;
			bottom: .4em;
		}
@media (max-width: 680px) {
	#header {
				height: 60px;
				min-width: 500px;
			}
			#rin {
				position: absolute;
				top: -0.5em;
			}
	#header1 {
				display: none;
			}

}
