#header{
background-color:#ea9494;
position: relative;
position: fixed;
top: 0;
z-index: 99999;
height:7rem;
width: 100%;
text-align:center;
line-height:70px;
}

#div_sidebar_right{
    display:none;
}
#sidebar_right{
    display: none;
}
.topnav_right{
       line-height: 100%;
    }


#sidebar_right{

background-color:#e7e7e7;
width:100%;
height:100%;
z-index: 9998;
text-align:center;
position: fixed;

}
#menu_right{
top: 6em;
background-color:#e7e7e7;
position: fixed;
display: none;
}
#map{    
}

#content{
margin-top: 40px;
margin-left:15%;
margin-right:20%;
height:100%;
background-color:#FFFFFF;
text-align:left;
}
#menu_list{
    vertical-align: middle;
    list-style-type: none;
    display: inline;
}
#menu_list li{
	width: 15%;
    line-height: 100%;
    display: inline;
}
#menu_list li button{
    
    padding: .2em .5em;
}
#menu_list li button:hover{
    background-color: blue
}
td.header-right{
    width: 50%;
    white-space: nowrap;
}
td.header-midle{
	width: 40%;
}
td.header-left{
    width: 10%;
}


td.icon_right{
    display: none
}



.icon_left{
	display: none;
}


@media (max-width: 680px){
    #sitebody{
        font-size:10px;
        overflow: scroll;
    }
    #header{
        min-width: 200px;
        height: 60px;
    }

#div_sidebar_right{
    background-color:#e7e7e7;
    width: 100px;
    float: right;
    display: none; 
    }
#sidebar_right{
height: 50%;
width: 100%;
background-color:#e7e7e7;
z-index: 9998;
text-align:left;
position: fixed;
display: block;
top: -3em;
}
    #menu_list{
        display: none;
    }
    #menu_list li{
        margin: 5px auto;
        float: right;
        display: inline-block;
        
    }
    
    #content{
        margin-top: 20px;
        margin-left:0;
        margin-right:0;
        min-width: 480px;
        width: 100%;
    }
    .rin{
    position: absolute;
    left: 40px;
    top:0;
    }
    
    td.icon_left{
       display:block;
       position: absolute;
       left: 0;
       top: 8px;
    }

    td.header-right{
        width: 15%
    }
 
    td.header-left{
        line-height: 100%;
        width: 30%
    
    }
    td.icon_right{
        display:block;
        position:  relative;
        right: -2%;
        top: 2px       
    }

    td.topnav_right{
        display: none;
    }
}